
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Контейнер формы */
.header-container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

/* Заголовок */
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Стили формы */
.payment-form {
    display: flex;
    flex-direction: column;
}

/* Стили для меток */
label {
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

/* Поля ввода */
input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

/* Стили для кнопки */
button {
    text-align: right;
    width: 50%;
    background-color: #28a745;
    color: white;
    padding: 12px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #218838;
}